.shopping-cart {
  margin-top: 30px;
}

.quantity {
  padding-left: 40px;
}

h3 {
  text-align: center;
  padding-bottom: 30px;
}

.box-address{
  padding-left: 150px;
  padding-right: 150px;
}

.box-address h3{
  padding-bottom: 0;
}

.box-address span{
  display: block;
  padding-bottom: 30px;
  font-size: 13px;
}

form#address input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


