.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
}