.box{
    padding: 0 100px;
    /* text-align: center; */
}

.box h1{
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.form-group{
    display: flex;
    margin-bottom: 30px;
}

.right{
    font-size: 18px;
    flex: 0.3;
}

form.info input{
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form.info button{
    margin-right: 130px;
    border: none;
    background: #0062D0;
    color: #fff;
    padding: 13px;
    border-radius: 8px;
}