#order {
  /* overflow-y: scroll; */
  padding: 0 40px;
}

#order .tool-bar {
  margin-bottom: 20px;
}

#order .tool-bar a {
  text-decoration: none;
  color: #443f3f;
}

#order .tool-bar i {
  font-size: 12px;
  color: #968f8f;
  margin: 0 5px;
}

#main-ordered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#main-ordered .product {
  width: 60%;
  /* height: 500px; */
}
#main-ordered .box-product{
  display: flex;
}
#main-ordered .product .sub-thumbnail-product {
  padding-right: 20px;
}

#main-ordered .product .sub-thumnail {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

#main-ordered .product .sub-thumnail img {
  width: 100%;
}

#main-ordered .product .main-thumbnal-product {
  width: 994px;
  /* height: 800px; */
}

#main-ordered .product .main-thumbnal-product img {
  width: 994px;
  /* height: 800px; */
}

#main-ordered .product-order {
  width: 40%;
  padding: 0 50px;
}
.variations_form-cart h1.title-product {
  font-size: 32px;
  color: #1e1e23;
  font-weight: 300;
  margin-bottom: 25px;
}

.variations_form-cart p {
  font-size: 13px;
  color: #8a8888;
}

.variations_form-cart .price {
  margin: 20px 0;
  font-size: 26px;
  display: block;
  color: #1e1e23;
}

.variations_form-cart .price del {
  font-size: 16px;
}

.variations_form-cart .price ins {
  text-decoration: none;
  padding-left: 5px;
}

.variations_form-cart .color-product {
  margin-bottom: 20px;
}

.variations_form-cart .color-product h3 {
  font-size: 20px;
  margin-bottom: 2px;
}
.variations_form-cart .box-color {
  display: flex;
  flex-wrap: wrap;
}
.variations_form-cart .color-product .color {
  width: 70px;
  height: 70px;
  background-color: #333;
  margin-right: 10px;
}

.variations_form-cart .color-product .color img{
  width: 100%;
}

.variations_form-cart .size-product {
  margin-bottom: 20px;
}

.variations_form-cart .size-product h3 {
  font-size: 20px;
  margin-bottom: 2px;
}

.variations_form-cart .size-product .box-size {
  display: flex;
  flex-wrap: wrap;
}

.variations_form-cart .size-product .box-size .size {
  margin: 0 5px 10px 0;
  width: 120px;
  padding: 15px 0;
  text-align: center;
  font-weight: 700;
  border: 1px solid #e0dcdc;
  border-radius: 5px;
  cursor: pointer;
}

.variations_form-cart .size-product .box-size .size:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.5s;
}

.variations_form-cart .buy-now {
  width: 100%;
  background: #333;
  border: none;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.variations_form-cart .buy-now p {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}

.variations_form-cart .buy-now span {
  color: #fff;
  font-style: italic;
}
